.presentation {
  margin-top: 102px;
  width: 100vw;
  height: 645px;
  background-color: blue;
  position: relative;
}
.presentation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.fond-dechire {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background-image: url("https://www.vinted.fr/assets/seller-promotion/tear-cb30a259a261a54b1511a7088e72118801d10d300901837c655cb53add179620.svg");
  background-position: bottom -1px right -1px;
  background-repeat: no-repeat;
  background-size: contain;
}
.seller-shortcut {
  box-sizing: border-box;
  width: 400px;
  height: 260px;
  position: absolute;
  top: 30%;
  left: 15%;
  border-radius: 4px;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.seller-shortcut h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 42.5px;
  color: #111111;
  margin-bottom: 20px;
}
.seller-shortcut-link {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.seller-shortcut button {
  width: 190px;
  height: 45px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: white;
  background-color: #09b1ba;
}
.seller-shortcut p {
  color: #09b1ba;
  font-size: 14px;
  /* font-weight: 500; */
  line-height: 18px;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 1080px) {
  .seller-shortcut {
    left: 5%;
    width: 300px;
    height: 220px;
  }
  .seller-shortcut h2 {
    font-size: 26px;
    font-weight: 500;
    line-height: 32.5px;
    color: #111111;
    margin-bottom: 10px;
  }
  .seller-shortcut-link {
    height: 80px;
  }
}
@media (max-width: 700px) {
  .seller-shortcut {
    left: 7%;
    top: 70%;
    width: 500px;
    height: 130px;
  }
  .seller-shortcut h2 {
    font-size: 26px;
    font-weight: 500;
    line-height: 28.5px;
    color: #111111;
    margin-bottom: 10px;
  }
  .seller-shortcut-link {
    height: 80px;
    width: 420px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .seller-shortcut {
    left: 2%;
    width: 480px;
  }
  .seller-shortcut h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 26.5px;
    color: #111111;
    margin-bottom: 10px;
  }
}
