.offerdetail {
  margin-top: 102px;
  width: 100vw;
  height: 100vh;
  background-color: #eaedee;
}
.offerdetail > div {
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
}
.offerdetail-withimage {
  justify-content: space-between;
}
.offerdetail-withoutimage {
  justify-content: center;
}
.offer-images,
.offerdetail-data {
  margin: 0 40px;
  box-sizing: border-box;
}
.offer-images {
  background-color: #09b1ba;
  border: 2px solid #09b1ba;
  width: 695px;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
/* .offer-images-ImageGallery-image {
  height: 450px;
  max-width: 650px;
  object-position: top;
  object-fit: contain;
} */
.image-gallery-image {
  height: 450px;
}

.offerdetail-data {
  height: 630px;
  width: 365px;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.offerdetail-data p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 800;
}
.offerdetail-feature {
  width: 300px;
  margin: 5px 0;

  display: grid;
  grid-template-columns: 50% 50%;
}
.offerdetail-feature > span:first-child {
  grid-column: 1;
  color: #999999;
}
.offerdetail-feature > span:last-child {
  grid-column: 2;
  color: black;
}
.separator {
  height: 20px;
  width: 100%;
  border-bottom: 1px solid #999999;
}
.offerdetail-data > div:last-of-type > p:last-of-type {
  color: #999999;
  width: 300px;
  max-height: 130px;
  word-wrap: break-word;
  overflow: hidden;
}

.offerdetail-button {
  color: white;
  width: 300px;
  height: 30px;
  border-radius: 4px;
  background-color: #09b1ba;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
}

@media (max-width: 1250px) {
  .offer-images {
    width: 595px;
  }
  .offer-images-ImageGallery-image {
    width: 550px;
  }
}
@media (max-width: 1150px) {
  .offer-images {
    width: 500px;
  }
  .offer-images-ImageGallery-image {
    width: 450px;
  }
}
@media (max-width: 1050px) {
  .offerdetail {
    margin-top: 142px;
  }
  .offer-images {
    width: 365px;
  }
  .offer-images-ImageGallery-image {
    width: 320px;
  }
}

@media (max-width: 900px) {
  .offerdetail {
    margin-top: 142px;
    height: 100%;
  }
  .offerdetail > div {
    flex-direction: column;
    align-items: center;
  }
  .offer-images,
  .offerdetail-data {
    margin: 20px auto;
    width: 365px;
  }
  .offer-images {
    margin-bottom: 40px;
    height: 530px;
  }
  .offer-images-ImageGallery-image {
    height: 370px;
  }
}
