header {
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: white;
}
header > div {
  border-bottom: 1px solid #999999;
}
header > div:last-child > div > div,
header > div:first-child > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > div:first-child > div > div {
  height: 55px;
}
header > div:last-child > div > div {
  height: 45px;
}
.header-buttons-connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-button-sale,
.header-buttons-connect > button,
.header-buttons-connect > a > div {
  width: 120px;
  height: 36px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  padding: 0 5px;
  border-radius: 4px;
}
.header-button-sale {
  color: white;
  background-color: #09b1ba;
}
/* .header-buttons-connect > a > div {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #09b1ba;
} */
/* .header-buttons-connect > a {
  text-decoration: none;
  color: #09b1ba;
} */

.header-buttons-connect > button {
  border: none;
}
.header-buttons-connect .deconnect {
  background-color: #c41c8c;
  color: white;
}
.header-buttons-connect .connect {
  margin: 0 10px;
  background-color: white;
  color: #09b1ba;
  border: 1px solid #09b1ba;
}
/* .header-buttons-connect > div,
.header-button-sale {
  color: white;
  background-color: #09b1ba;
} */
header input {
  min-width: 50%;
  height: 35px;
  background-color: #f5f6f7;
  border: none;
  border-radius: 2px;
  font-size: 13px;
  line-height: 16.3px;
  color: #999999;
}
