.input-text {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.input-text div {
  box-sizing: border-box;
  height: 75px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.input-text-border {
  border-bottom: 1px solid #999999;
}
.input-text p,
.input-text input {
  padding: 10px 15px;
  width: 100%;
  font-size: 16px;
  line-height: 13.3px;
}
.input-text input {
  height: 30%;
  border: none;
  outline: none;
  border-bottom: 1px solid #999999;
}
.input-text input:focus {
  border-bottom: 1px solid #09b1ba;
}
